<div class="container mx-auto py-6">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
    <div class="lg:col-span-3">
      <%= render 'profile_header' %>
    </div>
    <div class="space-y-6">
      <%= render 'recently_played' %>
    </div>
    <div class="lg:col-span-2">
      <%= render 'match_history' %>
    </div>
  </div>
</div>